<h2>User Form</h2>

<form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
       <label>Name</label>
       <input type="text" class="form-control" minlength="6" maxlength="50" required name="name" #name="ngModel" ngModel/>
       <div *ngIf="name.errors && (name.dirty || name.touched)"  class="alert alert-danger"> <!--name.erros khác null hoặc đc chạm vào mà erros # rỗng thid hiển thị-->
            <div [hidden]="!name.errors.required"> <!--ẩn khi đk = true -->
               Bạn chưa nhập tên!
            </div>
            <div [hidden]="!name.errors.minlength">
               Tên ít nhất là 6 kí tự!
            </div>
       </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" email name="email" #email="ngModel" required ngModel/>
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            <div [hidden]="!email.errors.required">
                Bạn chưa nhập email!
            </div>
            <div [hidden]="!email.errors.email">
               Email không đúng định dạng!
            </div>
        </div>
    </div>
        <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control" name="street" #street="ngModel" required ngModel/>
            <div *ngIf="street.errors && (street.dirty || street.touched)" class="alert elert-danger">
                <div [hidden]="!street.errors.required">
                    Bạn chưa nhập street!
                </div>
            </div>
         </div>
         <div class="form-group">
            <label>City</label>
            <select class="form-control" name="city" required ngModel>
               <option *ngFor="let city of cities" [value]="city.Id">{{city.Name}}</option> <!--hiển thị danh sách chọn-->
            </select>
         </div>
         <div class="form-group">
            <label>Postal Code</label>
            <input type="text" pattern="^[1-9][0-9]{4}" class="form-control" maxlength="5" name="postalcode" #postalcode="ngModel" required ngModel/>
            <div *ngIf="postalcode.errors && (postalcode.dirty || postalcode.touched)" class="alert alert-danger">
                <div [hidden]="!postalcode.errors.pattern">
                    postalcode phải có 5 chữ số
                </div>
                <div [hidden]="!postalcode.errors.maxlength"></div>
            </div>
         </div>
  
     <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Submit</button> <!--không submit đc nếu có coltrol invalid-->
</form>